div
  p.text-error
    strong Is this useful to you?  Vote for us - &nbsp;
    | <iframe src="http://nodeknockout.com/iframe/github-messenging" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
  </iframe>
