extends layout

block content
  div#welcome
    h1 Message a github user
    a(href='/login', class='btn btn-large btn-info')
      <i class='icon-github'></i>
      strong &nbsp; | &nbsp; Signin with github
