body {
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 60px;
}

#welcome, #http-error {
  margin: 5em 0;
  text-align: center;
}

#welcome h1, #http-error h2 {
  font-family: 'Dancing Script', Georgia, Times, serif;
}

#welcome h1, #welcome a {
  letter-spacing: 0.1em;
}

#welcome a {
  margin-top: 2em;
}
